/* table{
    border: 1px solid;
    border-collapse: collapse;
}
.espace1{
    height: 200px;
    width: 1017px;
}

.espace2{
    height: 30px;
    width: 200px;
    border: 1px solid;
    float: left;
}
.espace3{
    border: 1px solid;
    height: 100px;
    width: 1017px;
    float: left;
}
.espace4{
    border: 1px solid;
    height: 200px;
    width: 550px;
    float: left;
}
.espace5 {
    border: 1px solid;
    height: 150px;
    width: 462px;
    float: left;
}
.espace6 {
    border: 1px solid;
    height: 40px;
    width: 200px;
    float: left;
}
.espace7{
    border: 1px solid;
    height: 100px;
    width: 1017px;
    float: left;
} */


/* th{
    padding: 10px;
} */